body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1cbfd3+0,3a9aa3+100 */
  background: #1cbfd3;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1cbfd3 0%, #3a9aa3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1cbfd3 0%, #3a9aa3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1cbfd3 0%, #3a9aa3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cbfd3', endColorstr='#3a9aa3', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  position: relative;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.obvious {
  text-decoration: underline !important;
}

img {
  border-radius: 20%;
}

#main_holder {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

#main_notice {
  font-weight: 400;
  font-size: 9pt;
  font-family: 'Open Sans', sans-serif;
  color: grey;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 500px !important;
  padding: 20px;
  position: relative;
  text-align: justify;
}

.cmd {
  display: block;
  width: 100%;
  background-color: #ECEFF3;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cmd::before {
  content: '> ';
  margin-right: 5px;
  color: #1CBFD3;
}

.car {
  /* background-image: url('../img/car-01.png'); */
  position: fixed;
  bottom: 31px;
  left: -100px;
  transition: left 0.5s;
  transition-timing-function: linear !important;
}

#icon_holder {
  position: absolute;
  left: 25px;
  top: 25px;
}

#icon_text_holder {
  font-weight: 400;
  font-size: 9pt;
  font-family: 'Open Sans', sans-serif;
  color: #606060;
  position: absolute;
  right: 26px;
  bottom: 12px;
  vertical-align: middle;
}

#text_holder {
  padding-left: 5px;
  padding-top: 10px;
}

#header_txt {
  color: #3A3A3C;
  text-align: center;
  font-size: 30pt;
  font-weight: 400;
  margin-bottom: 20px;
}

#footer, #header {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #3A3A3C;
  height: auto;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: 400;
  font-size: 9pt;
  font-family: 'Open Sans', sans-serif;
  padding-top: 9px;
  padding-bottom: 9px;
}

#header {
  top: 0px;
}

.main {
  font-size: 30pt !important;
}

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media (max-width:460px) {
  #header_txt {
    font-size: 20pt;
    padding-top: 10px;
  }
}

@media (max-width:340px) {
  #header_txt {
    font-size: 15pt;
    padding-top: 15px;
  }
}

@media (max-width:300px) {
  #header_txt {
    font-size: 15pt;
    text-align: right;
  }
}